/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #080800;
}

/* Barra de navegación */
nav {
    width: 100%;
    padding: 2px;
}

.logo {
    margin: 3px;
    margin-left: 30px;
    padding: 3px;
}

/* header */
header {
    width: 100%;
}

header div {
    margin: 5px;
    padding: 5px;
    text-align: center;
}

header h1 {
    font-size: 61px;
    font-weight: bold;
    color: white;
}

main {
    width: 100%;
}

/* Footer */
footer {
    margin: 2px;
    margin-left: 30px;
    padding:0px 10px 0px 10px;
    color: rgb(167, 163, 127);
}

section {
    margin: 20px;
    padding: 10px;
    text-align: center;
}

/* Estilos formulario */

.div-formulario {
    margin: 10px;
    padding: 10px;
    background-color: #3b3b3b;
    border-radius: 10px;
}

.div-formulario h2 {
    margin: 20px;
    padding: 10px;
    font-weight: 500;
    font-size: 36px;
    color: #FFCC00;
}

.contenedor .div-formulario form {
    width: 100%;
    height: 100%;
}


.contenedor .div-formulario form label {

    color: white;
    font-weight: 500;

}

.contenedor .div-formulario form input {
    width: 30%;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
}

/* ESTILOS LISTADO */
.div-listado {
    margin: 10px;
    background-color: #ffffe4;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
}

.div-listado h2 {
    margin-top: 10px;
    font-weight: 500;
    font-size: 36px;
    color: black;
}

.contenedor .div-listado .div-empleados {
    margin: 10px;
    padding: 10px;
}

.contenedor .div-listado .div-empleados p {
    font-size: 18px;
    color: black;
}

hr {
    width: 100%;
    height: 1px;
}

.btn {
    background-color: #FFCC00;
    color: #080800;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #080800;
    color: white;
}

.btn-editar {
    background-color: green;
    color: white;
    font-weight: bold;
}

.btn-eliminar {
    background-color: red;
    color: white;
    font-weight: bold;
}



@media only screen and (max-width: 768px) {
    nav img {
        width: 50px;

    }

    body {
        margin: 0;
        padding: 0;
    }

    header h1 {
        font-size: 56px;
        font-weight: bold;
        color: white;
    }


    .div-formulario h2 {
        font-size: 33px;
    }

    .contenedor .div-formulario form {
        width: 100%;
        height: 100%;
    }

    .contenedor .div-formulario form input {
        width: 80%;
        padding: 5px;
        margin: 5px;
        font-size: 11px;
    }

    .div-listado h2 {
        font-size: 33px;
    }

    .contenedor .div-listado .div-empleados p {
        font-size: 14px;
        color: black;
    }

    footer {
        font-size: 14px;
    }




}




@media only screen and (max-width: 380px) {

    nav img {
        width: 40px;

    }

    body {
        margin: 0;
        padding: 0;
    }

    header h1 {
        font-size: 46px;
        font-weight: bold;
        color: white;
    }


    .div-formulario h2 {
        font-size: 28px;
    }

    .contenedor .div-formulario form {
        width: 100%;
        height: 100%;
    }

    .contenedor .div-formulario form input {
        width: 60%;
        padding: 5px;
        margin: 5px;
        font-size: 11px;
    }

    .div-listado h2 {
        font-size: 28px;
    }

    .contenedor .div-listado .div-empleados p {
        font-size: 10px;
        color: black;
    }

    footer {
        font-size: 12px;
    }

    .btn {
        font-size: 12px;
        margin: 5px;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .btn:hover {
        background-color: #080800;
        color: white;
    }

    .btn-editar {
        background-color: green;
        color: white;
        font-size: 12px;
    }

    .btn-eliminar {
        background-color: red;
        color: white;
        font-size: 12px;
    }

}